nav
{
  display: flex;
  flex-direction: column;
  
  align-items: flex-start;
  background-color: white;
  padding: 6px;
}

nav * { margin: 0; padding: 0; } 

nav > .Links
{
  display: flex;
  flex-direction: row;
  gap: 12px;
  
  width: 100%;
}

/* For padding */
nav > .Links > *:nth-last-child(2){ flex: 1; }

