nav
{
  display: flex;
  flex-direction: column;
  
  align-items: flex-start;
  background-color: white;
  padding: 6px;
}

nav * { margin: 0; padding: 0; } 

nav > .Links
{
  display: flex;
  flex-direction: row;
  gap: 12px;
}
